<mat-toolbar color="primary">
  @if (isAuthenticated) {
    <button mat-icon-button routerLink="/users/user-list">
      <mat-icon>dashboard</mat-icon>
    </button>
  }
  <span class="app-title" routerLink="/" style="cursor: pointer;">User Management System</span>
  <span class="example-spacer"></span>
  
  @if (isAuthenticated) {
    <div class="user-menu">
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </div>
  }
</mat-toolbar>

<router-outlet></router-outlet>